<html lang="en">
<head>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div>
        <div style="width: 80%; margin: 0 auto; text-align: center; margin-top: 50px; font-size: 30px; color: #666;">
            <h1>Tutor's App</h1>
        </div>
        <div style="width: 80%; margin: 0 auto; margin-top: 20px;">
            <p style="float: left;">TA03/0101/2021-2022</p>
            <p style="float: right;">Date: DOWNLOAD_DATE</p>
        </div>
    </div>
    <div>
        <table style="width: 80%; margin: 0 auto; border: 1px solid black; border-collapse: collapse;">
            <tr c>
                <td style="border: 1px solid black;">
                    Student Name: STUDENT_NAME
                </td>
                <td style="border: 1px solid black;">
                    Student Id: STUDENT_ID
                </td>
            </tr>
            <tr style="border: 1px solid black;height: 80px;">
                <td style="border: 1px solid black;">
                    Student Address: STUDENT_ADDRESS
                </td>
                <td style="border: 1px solid black;">
                    Branch Office: BRANCH_ADDRESS
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid black;">
                    STD: STANDARD_FEES
                </td>
                <td style="border: 1px solid black;">
                    Academic Year: ACADEMIC_YEAR
                </td>
            </tr>
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black;">
                    Payment type: PAYMENT_TYPE
                </td>
                <td style="border: 1px solid black;">
                    If Check Check Details: -----
                </td>
            </tr>
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black;">
                    Recieved By: FEES_RECIEVED_BY
                </td>
                <td style="border: 1px solid black;">
                    Payment Date: PAYMENT_DATE
                </td>
            </tr>
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black;">
                    Total Fees: FEES_AMOUNT
                </td>
                <td style="border: 1px solid black;">
                    Discount: FEES_DISCOUNT
                </td>
            </tr>
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black;">
                    Previous Payment Date: 01 June, 2021
                </td>
                <td style="border: 1px solid black;">
                    Previous Paid: 5,000.00
                </td>
            </tr>
        </table>
        <table style="width: 80%; margin: 0 auto; border: 1px solid black; border-collapse: collapse; border-top: none;">
            <thead>
                <tr style="border: 1px solid black; border-top: none;">
                    <td style="border: 1px solid black; border-top: none;">Fees Amount</td>
                    <td style="border: 1px solid black; border-top: none;">Descrption/Remakrs</td>
                    <td style="border: 1px solid black; border-top: none;">Total Paid</td>
                </tr>
            </thead>
            <tbody>
                <tr style="border: none;">
                    <td style="border: none;border-right: 1px solid black;">PAID_AMOUNT</td>
                    <td style="border: none;border-right: 1px solid black;">FEES_DESCRIPTION</td>
                    <td style="border: none;border-right: 1px solid black;">PAID_AMOUNT</td>
                </tr>
                <tr style="border: 1px solid black; height: 600px; text-align: start; border-top: none;">
                   <td style="border: none; border-right: 1px solid black;"></td>
                   <td style="border: none; border-right: 1px solid black;"></td>
                   <td style="border: none; border-right: 1px solid black;"></td> 
                </tr>
                <tr style="border: 1px solid black;">
                    <td style="border: 1px solid black; border-right: none;"></td>
                    <td style="border: 1px solid black; border-left: none; text-align: right;">Total</td>
                    <td style="border: 1px solid black;">PAID_AMOUNT</td>
                </tr>
                
            </tbody>
        </table>

        <div style="width: 80%; margin: 0 auto; text-align: left; margin-top: 20px; font-size: 20px;">
            <p>In Words: Twenty Thousands rupees only</p>
        </div>

        <div style="width: 80%; margin: 0 auto; text-align: left; margin-top: 20px; font-size: 20px;">
            Note: This is Computer Generated Bill Does not require Signature
        </div>
    </div>
</body>
</html>